body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    height: 100vh;
    background-color: black;
    color: rgb(2, 2, 2);
}
.container{
    border: none;
    border-radius: 10px;
    background-color: aqua;
    height:auto;
    width: 70vh;
    box-shadow: 4px 5px 6px blue;
}
.header{
    text-align: center;
    font-size: 1.7em;
    font-weight: 900;
    border-bottom: 0.5px solid black;
    margin-bottom: 20px;
}
.addTask{
    display: flex;
    justify-content: space-evenly;
}
#inputTask{
    padding: 7px;
    border-radius: 10px;
    border-style: none;
    width: 300px;
    
}
Button{
    width: 50px;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(241, 247, 247);
}
Button:hover{
    background-color: rgb(90, 241, 85);
    box-shadow: 2px 2px 2px ;
   
}
li{
    display: flex;
    justify-content: space-between;
    
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    margin-bottom: 7px;
}

/* टैबलेट और मोबाइल के लिए मीडिया क्वेरी */
@media screen and (max-width: 768px) {
    .container {
        width: 80%; /* टैबलेट के लिए थोड़ा बड़ा */
        box-sizing: border-box;
    }

    .header {
        font-size: 1.4em;
    }

    #inputTask {
        width: 80%; /* टैबलेट पर थोड़ा बड़ा */
    }

    li {
        width: 85%; /* टैबलेट के लिए एडजस्टेड चौड़ाई */
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%; /* छोटे मोबाइल स्क्रीन के लिए */
        box-sizing: border-box;
    }
   
    .header {
        font-size: 1.2em;
    }

    #inputTask {
        width: 86%
    }

    li {
        width: 95%; /* छोटे स्क्रीन के लिए फिटिंग */
    }
    .addTask{
        display: flex;
        justify-content: space-evenly;
    }
}
